:root {
  --xlight-grey: #f0f0f0;
  --light-grey: #ccc;
  --dark-grey: #999;
 
  --light-main: #f2f0f8;
  --medium-main: #644190;
  --dark-main: #050114;

  --light-accent: #8f85b2;
  --dark-accent: #271144;
  --xdark-accent: #180431;
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

html {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  transition: background-color .5s;
}

h1, h2, h3, h4, .logo {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.4em;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 1.8em;
  margin: 60px auto 30px;
}

h2 {
  font-size: 1.1em;
  margin: 20px 0 10px;
  font-weight: 500;
  color: var(--medium-main);
  text-transform: uppercase;
}

h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 20px 0 5px;
}


p {
  font-size: 0.9em;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  margin: 10px 0 20px;
}

a {
  text-decoration: none;
  color: var(--light-accent);
  &:hover {
    text-decoration: none;
    color: var(--medium-main);
  }
}

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo-icon {
  background-image: url(../../images/logo.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  height: 50px;
  filter: invert(1);
}

.text-md {
  font-size: 1.1em;
}

.text-sm {}

.text-xs {
  font-size: 0.8em;
}

.text-center {
  text-align: center;
}

.w-max {
  padding: 0px 10px;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px;
}

.section {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-divider {
  background-color: var(--light-main);
}

.social-icons {
  a {
    font-size: 2em;
    padding-right: 20px;
    transition: 0.5s;
    display: inline-block;
    &:last-child {
      padding-right: 0;
    }
    &.facebook:hover {
      color: #3b5998;
    }
    &.instagram:hover {
      color: #bc2a8d;
    }
    &.twitter:hover {
      color: #00aced;
    }
  }
}

.column-img {
  width: 100%;
  padding: 10px;
  margin:0 auto;
}

.form-column {
  padding-right: 50px;
}

input[type=text], textarea {
  border-radius: 3px;
  border: 1px solid var(--light-grey);
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 10px;
  width: 100%;
}
input[type=submit] {
  width: 100%;
  max-width: 200px;
  background-color: var(--medium-main);
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: var(--xlight-grey);
  white-space: nowrap;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: var(--xdark-accent);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  a {
    color: var(--xlight-grey);
    font-style: 1.5em;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;
    &:hover {
      color: var(--light-main);
    }
    &.active {
      background-color: var(--dark-accent);
    }
  }
  #menu-close {
    font-size: 2.5em;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding: 0px 20px;
  }
}

#page {
  transition: margin-left .5s;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.05);
  #header-content {
    display: flex;
    align-items: center;
    padding: 15px;// 35px;
    box-sizing: border-box;
    //max-width: 1100px;
    margin: 0 auto;
  }
  &.highlight {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
    border-bottom: 0;
    background-color: var(--dark-main);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .logo {
    font-size: 2em;
    line-height: 1.2em;
    white-space: nowrap;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  #menu-icon {
    font-size: 2em;
    text-align: left;
    cursor: pointer;
    padding-left: 15px;
    color: #fff;
    &:hover {
      color: var(--light-main);
    }
  }
  nav.topnav {
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    white-space: nowrap;  
    font-family: 'Montserrat', sans-serif;
    z-index: 1;        
    a {
      display: inline;
      margin: 0 0 0 20px;
      color: #fff;
      &:hover {
        color: #fff;
        border-bottom: 2px solid;
      }
      &.active {
        color: #fff;
        border-bottom: 2px solid;
        text-decoration: none;
        //text-shadow: 0px 0px 1px var(--light-main);
      }
    }
  }
  .quote-container {
    text-align: right;
    a[href="#quote"]{
      background-color: var(--medium-main);
      padding: 10px 20px;
      border-radius: 6px;
      color: var(--xlight-grey);
      white-space: nowrap;
    }
  }
}
#content {
  min-height: 80vh;
  .tab-pane {
    position: relative;
  }
  #cover-bg-wrapper {
    background-image: url("../../images/wrapped-car.jpg");
    background-position: center 55%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0px 0 10px;
    #cover-bg {
      height: 450px;
      background-color: rgba(5, 1, 20, 0.3);
      #cover-text-wrapper {
        position: absolute;
        top: 150px;
        right: 0;
        left: 0;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        width: 50%;
        text-shadow: 3px 3px 6px #000;
        color: #fff;
        text-align: center;
        h2 {
          font-size: 2.4em;
          margin-bottom: 10px;
          font-weight: 300;
          font-family: 'Montserrat', sans-serif;
          color: #fff;
          text-transform: capitalize;
        }
        p {
          color: var(--xlight-grey);
          font-size: 1.5em;
          font-weight: 300;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }
  #title-bg-wrapper {
    background-image: url(../../images/wrap-1.jpg);
    background-position: center 65%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0px 0 10px;
    #title-bg {
      height: 250px;
      background-color: rgba(5, 1, 20, 0.7);
      #title-text-wrapper {
        position: absolute;
        top: 120px;
        right: 0;
        left: 0;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        width: 50%;
        text-shadow: 3px 3px 6px #000;
        color: #fff;
        text-align: center;
        h1 {
          font-size: 2.4em;
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
    }
  }
  #gallery {
    #title-bg-wrapper {
      background-image: none;
      #title-bg {
        background-color: var(--dark-main);
      }
    }
  }
  #contact {
    #title-bg-wrapper {
      background-image: url(../images/wrap-3.jpg);
      background-position: center 70%;
    }
  }
}

.contact-row {
  display: block;
  margin: 5px 0;
  i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
  }
}

#footer {
  background-color: var(--dark-main);
  color: var(--xlight-grey);
  min-height: 20vh;
  text-align: center;
  margin-top: 40px;
  #footer-content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 35px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    .logo-icon {
      width: 180px;
      height: 50px;
    }
    p {
      color: var(--xlight-grey);
      margin: 5px 0 0;
      font-size: 0.9em;
    }
    .social-icons {
      text-align: right;
      a {
        font-size: 1.5em;
        padding: 0px 15px;
        color: var(--xlight-grey);
        &:last-child {
          padding-right: 0;
        }
        &.facebook:hover {
          color: #3b5998;
        }
        &.instagram:hover {
          color: #bc2a8d;
        }
        &.twitter:hover {
          color: #00aced;
        }
      }
    }
    .footer-links {
      padding: 20px 0;
      font-size: 0.9em;
      .text-divider {
        padding: 0 8px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .form-column {
    padding-right: 15px;
  }
  #page #content {
    #header-bg {
      background-size: auto 450px;
      height: 450px;
    }
    #cover-text {
      display: none;
    }
  }
  #page {
    #header-content {
      padding-left: 5px;
      padding-right: 5px;
    }
    #footer {
      #footer-content {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
      }
      .footer-social {
        padding-top: 15px;
        margin: 0 20px;
        .social-icons {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px){
  #header {
    .logo {
      i {
        width: 180px;
        height: 40px;
      }
    }
  }
}

@media only screen and (max-width: 768px){
  #header {
    .logo {
      text-align: center;
      i {
        width: 160px;
        height: 35px;
      }
    }
    #menu-icon {
      position: absolute;
      z-index: 1;
    }
  }
  .section {
    flex-direction: column;
    .text-wrapper{
      order: 1;
    }
    .img-wrapper {
      order: 2;
      .column-img {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #page #content #header-bg-wrapper {
    background-size: auto 400px;
  }
  #page #content #header-bg {  
    height: 400px;
  }
  .section {
    .img-wrapper {
      .column-img {
        width: 100%;
        padding: 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #page #content #header-bg-wrapper {
    background-size: auto 300px;
  }
  #page #content #header-bg {
    height: 300px;
  }
}

@media only screen and (max-width: 420px) {
  #page #content #header-bg-wrapper {
    background-size: auto 250px;
  }
  #page #content #header-bg {
    background-size: auto 250px;
    height: 250px;
  }
}