html {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  color: #555; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  transition: background-color .5s; }

h1, h2, h3, h4, .logo {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 40px auto 20px;
  text-transform: uppercase; }

h2 {
  font-size: 1.2em;
  margin: 20px 0 10px;
  font-weight: 400;
  color: #6854b2; }

h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 20px 0 5px; }

p {
  font-size: 0.9em;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  margin: 10px 0 20px; }

a {
  text-decoration: none;
  color: #f8f8fd; }
  a:hover {
    text-decoration: none;
    color: #6854b2; }

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7); }

.logo-icon {
  background-image: url(../../images/logo.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 190px;
  height: 42px;
  filter: invert(1) brightness(100); }

.text-md {
  font-size: 1.1em; }

.text-xs {
  font-size: 0.8em; }

.text-center {
  text-align: center; }

.w-max {
  padding: 0px 10px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }

.color-section {
  background-color: #f8f8fd;
  padding: 20px 0;
  margin: 20px 0 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.mt-20 {
  margin-top: 20px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-20 {
  padding-bottom: 20px; }

.px-0 {
  padding-right: 0px;
  padding-left: 0px; }

.px-5 {
  padding-right: 5px;
  padding-left: 5px; }

.px-20 {
  padding-right: 20px;
  padding-left: 20px; }

.px-40 {
  padding-right: 40px;
  padding-left: 40px; }

.pl-0 {
  padding-left: 0px; }

.pl-10 {
  padding-left: 10px; }

.pt-0 {
  padding-top: 0 !important; }

.pt-5 {
  padding-top: 5px; }

.text-right {
  text-align: right; }

.btn {
  background-color: #6854b2;
  padding: 10px 30px;
  border-radius: 40px;
  color: #f0f0f0;
  white-space: nowrap; }

.btn:hover {
  background-color: #6854b2;
  color: #fff; }

.social-icons a {
  font-size: 2em;
  padding-right: 20px;
  transition: 0.5s;
  display: inline-block; }
  .social-icons a:last-child {
    padding-right: 0; }
  .social-icons a.facebook:hover {
    color: #3b5998; }
  .social-icons a.instagram:hover {
    color: #bc2a8d; }
  .social-icons a.twitter:hover {
    color: #00aced; }

.column-img {
  width: 100%;
  margin: 0 auto; }

.form-column {
  padding-right: 50px; }

input[type=text], textarea {
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 10px;
  width: 100%; }

input[type=submit] {
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border: none; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #130936;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif; }
  .sidenav a {
    color: #f0f0f0;
    font-style: 1.5em;
    padding: 10px 20px;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #f8f8fd; }
    .sidenav a.active {
      background-color: #6854b2; }
  .sidenav #menu-close {
    font-size: 2.5em;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding: 0px 20px; }

#page {
  transition: margin-left .5s; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1; }
  #header #header-content {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 40px;
    padding: 10px 0; }
  #header.highlight {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
    border-bottom: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    #header.highlight #header-content {
      border-bottom: 0; }
    #header.highlight .logo-icon {
      filter: none; }
    #header.highlight nav.topnav a {
      color: #6854b2; }
      #header.highlight nav.topnav a:hover {
        color: #130936; }
      #header.highlight nav.topnav a.active {
        color: #130936; }
  #header .logo {
    font-size: 2em;
    line-height: 1.2em;
    white-space: nowrap;
    text-decoration: none; }
    #header .logo:hover {
      text-decoration: none; }
  #header #menu-icon {
    font-size: 2em;
    text-align: left;
    cursor: pointer;
    padding-left: 15px;
    color: #fff; }
    #header #menu-icon:hover {
      color: #f8f8fd; }
  #header nav.topnav {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    display: inline-block; }
    #header nav.topnav a {
      display: inline;
      margin: 0 0 0 20px;
      color: rgba(255, 255, 255, 0.7);
      transition: 0.5s; }
      #header nav.topnav a:hover {
        color: #fff; }
      #header nav.topnav a.active {
        color: #fff;
        border-bottom: 1px solid #fff;
        text-decoration: none; }
  #header .quote-btn {
    display: inline-block;
    margin: 0 0 0 20px; }

#content {
  min-height: 80vh; }

.tab-pane {
  position: relative; }

#cover-bg-wrapper {
  background-image: url("../../images/wrapped-car.jpg");
  background-position: center 40%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0px 0 20px; }
  #cover-bg-wrapper #cover-bg {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center; }
    #cover-bg-wrapper #cover-bg #cover-text-wrapper {
      max-width: 1200px;
      padding: 0 15px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      text-align: center; }
      #cover-bg-wrapper #cover-bg #cover-text-wrapper h2 {
        font-size: 2.4em;
        line-height: 1.3em;
        margin-bottom: 10px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        text-transform: capitalize;
        text-shadow: 3px 3px 6px #000; }
      #cover-bg-wrapper #cover-bg #cover-text-wrapper p {
        color: #f0f0f0;
        font-size: 1.4em;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        text-shadow: 3px 3px 6px #000; }
      #cover-bg-wrapper #cover-bg #cover-text-wrapper .btn {
        font-size: 1em;
        margin-top: 20px;
        box-shadow: 1px 1px 4px #000;
        background-color: #fff;
        color: #130936;
        transition: 0.15s; }
        #cover-bg-wrapper #cover-bg #cover-text-wrapper .btn:hover {
          background-color: #6854b2;
          color: #fff; }

#title-bg-wrapper {
  background-image: url(../../images/wrap-1.jpg);
  background-position: center 65%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0px 0 10px; }
  #title-bg-wrapper #title-bg {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center; }
    #title-bg-wrapper #title-bg #title-text-wrapper {
      max-width: 1200px;
      padding: 0 15px;
      width: 100%;
      margin: 0 auto;
      text-shadow: 3px 3px 6px #000;
      color: #fff;
      text-align: center; }
      #title-bg-wrapper #title-bg #title-text-wrapper h1 {
        font-size: 2.4em;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 400; }

#gallery #title-bg-wrapper {
  background-image: none; }
  #gallery #title-bg-wrapper #title-bg {
    background-color: #130936; }

#contact #title-bg-wrapper {
  background-image: url(../images/wrap-3.jpg);
  background-position: center 70%; }

.contact-row {
  display: block;
  margin: 5px 0; }
  .contact-row i {
    width: 20px;
    text-align: center;
    margin-right: 10px; }

#footer {
  background-color: #130936;
  color: #f0f0f0;
  min-height: 20vh;
  text-align: center; }
  #footer #footer-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 35px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left; }
    #footer #footer-content .logo-icon {
      width: 150px;
      height: 38px; }
    #footer #footer-content p {
      color: #f0f0f0;
      margin: 10px 0 0;
      font-size: 0.9em; }
    #footer #footer-content .social-icons {
      text-align: right; }
      #footer #footer-content .social-icons a {
        font-size: 1.5em;
        padding: 0px 15px;
        color: #f0f0f0; }
        #footer #footer-content .social-icons a:last-child {
          padding-right: 0; }
        #footer #footer-content .social-icons a.facebook:hover {
          color: #3b5998; }
        #footer #footer-content .social-icons a.instagram:hover {
          color: #bc2a8d; }
        #footer #footer-content .social-icons a.twitter:hover {
          color: #00aced; }
    #footer #footer-content .footer-links {
      padding: 20px 0;
      font-size: 0.9em; }
      #footer #footer-content .footer-links .text-divider {
        padding: 0 8px; }

@media only screen and (max-width: 767px) {
  .form-column {
    padding-right: 15px; }
  #page #content #header-bg {
    background-size: auto 450px;
    height: 450px; }
  #page #header-content {
    padding-left: 5px;
    padding-right: 5px; }
  #page #footer #footer-content {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center; }
  #page #footer .footer-social {
    padding-top: 15px;
    margin: 0 20px; }
    #page #footer .footer-social .social-icons {
      text-align: center; } }

@media only screen and (max-width: 991px) {
  #header .logo i {
    width: 180px;
    height: 40px; } }

@media only screen and (max-width: 768px) {
  #header .logo {
    text-align: center; }
    #header .logo i {
      width: 160px;
      height: 36px; }
  #header #menu-icon {
    position: absolute;
    z-index: 1; } }

@media only screen and (max-width: 600px) {
  #cover-bg-wrapper #cover-bg {
    height: 400px; }
    #cover-bg-wrapper #cover-bg #cover-text-wrapper h2 {
      font-size: 1.8em;
      margin-bottom: 0px; }
    #cover-bg-wrapper #cover-bg #cover-text-wrapper p {
      font-size: 1.3em; }
  #title-bg-wrapper #title-bg {
    height: 250px; }
    #title-bg-wrapper #title-bg #title-text-wrapper h1 {
      font-size: 1.8em; } }

@media only screen and (max-width: 420px) {
  #cover-bg-wrapper #cover-bg #cover-text-wrapper h2 {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: 5px; }
  #cover-bg-wrapper #cover-bg #cover-text-wrapper p {
    font-size: 1em; }
  #title-bg-wrapper #title-bg #title-text-wrapper h1 {
    font-size: 1.4em; } }
